*, *::before, *::after {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

h1, h3 {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}


a {
    color: #333;
}


li a {
    color: #333;
    text-decoration: none; /* Make text not have an underline */
}


/*
* Selector: ul.recipe-list
* Explanation:
* - Targets <ul> elements that have the class 'recipe-list'.
* - This means that the styles will apply to any unordered list (<ul>) that has 'styled-list' in its class attribute.
*/
ul.recipe-list {
    max-width: 300px;
    list-style-type: none;
    padding: 10px;
    margin: 0px auto; /* Centers the list container horizontally */
    border: 1px solid #ddd; /* Adds a light border around the list container */ 
    border-radius: 10px; /* Rounds the corners of the list container */
    background-color: #f9f9f9;
}


/* 
* Selector: ul.recipe-list li 
* Explanation:
* - Targets <li> elements that are descendants of <ul> elements with the class 'recipe-list'.
*/
ul.recipe-list li {
    padding: 10px; /* Adds space between each list item */
    border: 1px solid #eee; /* Light border around each item */
    border-radius: 5px; /* Rounded corners for each item */
    background-color: #fff; /* White background */
}


or.steps-list {
}

or.steps-list li {

}



